{% extends "base.html" %}
{% from "macros.html" import render_field with context %}

{% block title %}
    Register page
{% endblock %}

{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger" role="alert">
        {{ messages[0] }}
      </div>
    {% endif %}
  {% endwith %}

<h3>
    Register here or 
  <a href="{{ url_for('auth.login') }}">Login</a>
</h3>
  
<form class="row g-3" method="POST">
    {# csrf protection #}
    {{ form.csrf_token() }}
    {# show inputs #}
    {% for field in ['username', 'email', 'first_name', 'last_name', 'password', 'confirm'] %}
    {{ render_field(form[field]) }}
    {% endfor %}
    {# submit #}
    <div>
        {{ form.submit(class="btn btn-primary btn-lg") }}
    </div>
</form>
{% endblock %}
