{% macro nav_link(endpoint, name) %}
    {% if request.endpoint == endpoint %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for(endpoint) }}">{{name}}</a>
        </li>
    {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for(endpoint) }}">{{name}}</a>
        </li>
    {% endif %}
{% endmacro %}

{% macro render_field(field) %}
    <div class="mb-3 row">
        {{ field.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-3">
            {{ field(class="form-control" + (" is-invalid" if field.errors else ""))|safe }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}
